.bannerWrapper img {
    width: 100%;
    height: 100px;
}

.hamberger {
    height: calc(100vh - 70px);
    /* height: 100vh;
    top: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 70px;
    width: 22%
}

header {
    padding: 20px 50px;
    background: black;
}

